body {
    background-image: url("site/images/bg-pinstripe.png");
    background-repeat: repeat;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content-inner {
    background-color: #ddd3a3;
    padding: 20px;
    overflow: hidden;
}

.custom-form-section-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #db9654;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px; 
}
*/

.customer-notes {
    
    height: 100px;

}